.footer {
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer__text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-weight: 600;
  color: rgb(var(--color-on-surface-variant));
}
.footer__link {
  color: var(--text-muted);
  text-decoration: none;
  transition: color .2s;
}